.notes-header{
    box-sizing: border-box;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.notes-header h1{
    margin: 0;
}

.add-note{
    background: transparent;
    border: none;
    cursor: pointer;    
    font-size: 13px;
    height: 25px;
    position: relative;
    top: 10px;
    color: rgb(63, 159, 98);
    font-weight: 700;
}

.add-note:hover{
    color: rgb(33, 181, 87);
}

.searching{
    width: 180px;
    font-size: 14px;
    outline: 1px gray solid;
}